@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

@keyframes swoop-in {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-swoop {
  animation: swoop-in 1s ease-out forwards;
}